{% extends "layout.html" %}
{% block content %}
    <div class=content-section>
        <form method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Match</legend>
                <div class="form-group">
                    {{ form.preferredPosition }}
                </div>
            </fieldset>
            
            <div class="form-group">
                {{ form.setPP(class="btn-outline-info") }}
            </div>
            <input type = "submit">
        </form>
    </div>
{% endblock content %}
