{% extends "layout.html" %}
{% block content %}
    <article class="content-section">
        <div class="media-body">

        {% for row in result %}
            <h4>Matched User: {{row.Username}}</h4>
            <p>League ID: {{row.LeagueID}}</p>
            <p>League Rank: {{row.AccountRank}}</p> 
            <p>Queue Type: {{row.QueueType}}</p>
            <p>Game Role: {{row.GoodAtRole}}</p>
            <p>Champion: {{row.GoodAtChamp}}</p>
            

        {% endfor %}
            
       
        </div>
    </article>
{% endblock content %}