{% extends "layout.html" %}
{% block content %}
  {% if userdata %}
    <article class="media content-section">
      <div class="media-body">
        <h2><a class="article-title" href="#">{{ userdata[0].leagueID }}</a></h2>
        <p class="article-content">username: {{ userdata[0].userName }}</p>
        <p class="article-content">region: {{ userdata[0].gameServer }}</p>
        <p class="article-content">email: {{ userdata[0].email }}</p>
      </div>
    </article>
  {% else %}
  <article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="#">No user selected</a></h2>
    </div>
  </article>
  {% endif %}
{% endblock content %}